@font-face {
  font-family: Gonserrat;
  /* src: url(assets/fonts/cvchv.otf); */
  /* src: url(assets/fonts/cvcrg.otf); */
  src: url(assets/fonts/Gontserrat_Regular.ttf);
  src: url(assets/fonts/Gontserrat_SemiBold.ttf);
}
.bg-container {
/*   display: flex; */
  background-image: url("https://images.unsplash.com/photo-1564468646894-ce33398759c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1522&q=80") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
/*   height: 100vh; */
  margin: 0;
  background-color: black;
  font-family: "Gonserrat";
  font-size: 100%;
  object-fit: scale-down;
  background-position: center;
}

.card {
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  backdrop-filter: blur(100px);
  background-color: black;
  opacity: 0.6;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
  background: white;
  padding: 10px;
}

button:hover {
  background: #7c7c7c6b;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.8em 1em;
  background: white;
  color: black;
  font-size: 100%;
  width: 100%;
}

h1.temp {
  margin: 0;
}

.icdes {
  display: flex;
  align-items: center;
  margin-left: 0em;
}

.description {
  text-transform: capitalize;
  margin-left: 0px;
}

.icon {
  margin-left: 0em;
  padding: 0em;
}

.magni {
  height: 20px;
  width: 20px;
}
